body {
    background-color: hsl(212, 45%, 89%);
    margin: 0; /* Remove default browser margin */
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 150px  0px 0px 0px;   

}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
#container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 100px;
            width: 290px;
            height: 460px;
            background-color: white;
            border-radius: 20px;   
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds depth */   
}
img {
    margin: 0px;
    width: 260px;
    height:260px;
    border-radius: 10px;
}
h2 {
    flex-direction: column;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-family:'Outfit' ;
    text-align: center;
    margin: 20px;
}
h3 {
    flex-direction: column;
    color: hsl(216, 15%, 48%);
    font-size: small;
    font-family:'Outfit'; 
    font-weight: normal;
    text-align: center;
    margin: 0px 30px 30px 30px;
}
.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}